openapi: 3.1.0
info:
  title: SmartERP API
  version: 1.0.0
  description: |
    Pinned OpenAPI snapshot for the v1 SmartERP API contract (ADR-035).

    This file is regenerated quarterly from the live `@nestjs/swagger`
    decorators (`backend/scripts/freeze-openapi.ts` writes the JSON; this
    YAML is hand-curated to keep cross-language SDK gen stable). Partners
    pin to a `/api/v{major}` prefix and a frozen snapshot tag.
  contact:
    name: SmartERP Engineering
    email: api@smarterp.it
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://api.smarterp.it/api/v1
    description: Production
  - url: https://staging.api.smarterp.it/api/v1
    description: Staging
security:
  - apiKey: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Smarterp-Api-Key
  schemas:
    ProblemDetails:
      type: object
      description: RFC 7807 problem-details payload (ADR-011).
      required: [type, title, status]
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
        correlationId: { type: string }
    HealthResponse:
      type: object
      required: [status, service, version]
      properties:
        status: { type: string, enum: [ok, degraded, down] }
        service: { type: string }
        version: { type: string }
        uptime_seconds: { type: integer }
        time: { type: string, format: date-time }
        dependencies:
          type: object
          additionalProperties: { type: string }
    WebhookSubscription:
      type: object
      required: [id, eventType, targetUrl, status]
      properties:
        id: { type: string, format: uuid }
        eventType: { type: string }
        targetUrl: { type: string, format: uri }
        status: { type: string, enum: [active, paused, disabled] }
        createdAt: { type: string, format: date-time }
paths:
  /health:
    get:
      operationId: getHealth
      summary: Public health endpoint.
      security: []
      responses:
        '200':
          description: Health response.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HealthResponse' }
  /webhooks/subscriptions:
    get:
      operationId: listWebhookSubscriptions
      summary: List webhook subscriptions for the calling tenant.
      responses:
        '200':
          description: Webhook subscriptions.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/WebhookSubscription' }
        '401':
          $ref: '#/components/responses/Unauthorised'
    post:
      operationId: createWebhookSubscription
      summary: Create a webhook subscription (HMAC secret returned once).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [eventType, targetUrl]
              properties:
                eventType: { type: string }
                targetUrl: { type: string, format: uri }
                hmacSecret: { type: string }
      responses:
        '201':
          description: Subscription created.
          content:
            application/json:
              schema:
                type: object
                required: [subscription, secret]
                properties:
                  subscription: { $ref: '#/components/schemas/WebhookSubscription' }
                  secret: { type: string }
  responses:
    Unauthorised:
      description: Authentication required or invalid.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
